.order_info_box {
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

.order_info_box_images_grid {
    display: flex;
    align-items: center;
}

.order_info_box_image_box {
    width: 100px;
    height: 100px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    margin-left: 20px;
}

.order_info_box_image_box_close {
    position: absolute;
    left: 6px;
    top: 2px;
    color: #4157ff;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.order_info_box_button_box {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.order_categories_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.order_categories_grid_item {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid rgba(65, 87, 255, 0.3);
    padding: 5px;
    border-radius: 10px;
}

.order_categories_grid_item > img {
    width: 40px;
    border-radius: 10px;
    margin-right: 10px;
}

.order_categories_grid_item > p {
    margin: 0;
}

.order_info_box_sub_category {
    cursor: pointer;
    color: #4157ff;
}
