.contractor_onboarding_stepper_box {
    padding-top: 30px;
}

.onboarding_processing_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.onboarding_processing_box > h3 {
    font-size: 32px;
}

.onboarding_processing_box > p {
    font-size: 18px;
}

.contractor_oboarding_reject_box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contractor_oboarding_reject_desc {
    width: 100%;
    max-width: 500px;
    background-color: rgba(0, 255, 255, 0.2);
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
}
