.category_card {
    padding: 20px;
    border-radius: 36px;
    background: #ececec;
    box-shadow:  26px 26px 37px #c3c3c3,
    -26px -26px 37px #fdfdfd;
}

.category_card_img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.category_card_title {
    margin: 0;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.category_card_number {
    margin-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
    padding: 1px 15px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4157ff;
    color: white;
    border-radius: 10px;
}

.category_card_list {
    padding-top: 15px;
}

.category_card_list_item {
    display: flex;
    align-items: center;
}

.category_card_list_item > p {
    margin: 0;
    font-size: 14px;
    margin-right: 10px;
}
